/* Shared styling section - keep in mind anything in this section applies to ALL html files */
@import url(https://fonts.google.com);

/*Navigation bar*/
.navbar ul {
    list-style-type: none;
    color: rgb(174, 169, 169);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar li{
    float: left;
}

body
{
    background-color: rgb(228, 236, 246);
}

.Homepage h1 {
    color: rgb(173, 216, 230);
    text-align: center;
    margin-top: 0px;
    background-color: rgb(48, 107, 167);
}

.Homepage h3 {
    color: rgb(19, 63, 108);
    text-align: center;
    background-color: lightblue;
}

.inline-block-heading {
    display: inline-block;
    padding: 5px;
}

.heading-container {
    text-align: center;
}

#para1{
    margin: 10px 200px;
    font-size: 125%;
    text-align: justify;
}

#para2{
    text-align: justify;
}


/*Footer*/
footer{
    margin-top: 50px;
    padding: 60px 100px 70px 250px;
}

.footer-content {
    font-size: 125%;
    display: flex;
    column-count: 3;
    column-gap: 75px;
}

.footer-content p {
    width: 200px;
    font-size: 70%;
}

footer img {
    width: 190px;
}

.footer-bottom {
    padding-left: 265px;
}


/* Homepage only styling */

.column1, .column2, .column3 { 
    background-color: rgb(233, 240, 248);
    border: 2px solid rgb(174, 169, 170);
    border-radius: 5px;
    padding: 10px 15px;
    display: inline-block;
    width: 25%;
}


.gameimages 
{
    width: 250px;
    height: 150px;
    object-fit: cover;
    float: center;
    align-items: stretch;
}


.learnmore {
    width: 50%;
}

#buynowbutton {
    border: 2px solid black;
    align-content: center;
}

.row {
    position: relative;
    left: 100px;
}

.Homepage .navbar ul {
    background-color:rgb(13, 55, 98); 
}

.Homepage .navbar a:hover {
    background-color: rgb(22, 58, 112);
}

.Homepage #para1{
    margin: 10px 200px;
    font-size: 125%;
    text-align: justify;
}

.Homepage footer{
    background-color: rgb(54, 73, 90);
    color: rgb(206, 227, 252);
}

.Homepage footer-content p {
    color: rgba(206, 227, 252, 0.723);
}



/* Individual page styling - when styling an individual page, remember to specify the class to only change that page*/

/* Fruit Blasters CSS only - remember div class="Fruit" */

.Fruit .navbar ul{
    background-color: rgb(47, 42, 99);
}

.Fruit .navbar a:hover {
    background-color: rgb(36, 32, 77);
}

.Fruit .hero {
background-color: rgb(204, 178, 249);
margin: 0px 60px 60px 60px;
padding: 40px;
border-radius: 15px;
}

.Fruit h1 {
    color: rgb(222, 203, 254);
    text-align: center;
    margin-top: 0px;
    background-color: rgb(115, 90, 189);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Fruit #para1{
    margin: 0px 60px 50px 60px;
    font-size: 125%;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.Fruit footer{
    background-color: rgb(84, 81, 118);
    color: rgb(206, 227, 252);
}

.Fruit footer-content p {
    color: rgba(206, 227, 252, 0.723);
}

/* Pewter Survival CSS only */



/* Cyber Click Challenge CSS only */


